# System
.DS_Store

# Editors
.vscode
.idea

# direnv
.direnv
.envrc.local

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
build
cmake-build-*
.run/
build/
_deps

# Rust
target
Cargo.lock

# CTest
CTestTestfile.cmake
DartConfiguration.tcl

# Static Analysis
.clj-kondo
.lsp