CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build
.vscode
.idea
cmake-build-*
DartConfiguration.tcl
.DS_Store
.run/
target
Cargo.lock

.clj-kondo
.lsp
