@keyframes borderRotate {
  100% {
    --angle: 225deg;
  }
}

:root {
  --d: 2500ms;
  --angle: -135deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: rgba(168, 239, 255, 1);
  --c2: rgba(168, 239, 255, 0.1);
}

@property --angle {
  syntax: "<angle>";
  initial-value: -135deg;
  inherits: true;
}

@property --gradX {
  syntax: "<percentage>";
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: true;
}
