main {
  margin: auto;
  max-width: 66em;
}

body {
  background: url(http://localhost:3000/static/media/background.2451f8fef923db0bdead.png)
    no-repeat center center;
  background-size: cover;
  min-height: 100vh;
}
