main {
  margin: auto;
  max-width: 66em;
}

/* Reference for after I've landed on a UI framework /*
/* body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    160deg,
    rgb(24, 24, 24) 0%,
    rgb(40, 40, 40) 35%,
    rgb(0, 0, 0) 35.1%
  );
  min-height: 100vh;
} */
